body {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  border: solid rgb(67, 67, 192) 5px;
}

img {
  width: 250px;
}

.createForm {
  border: solid rgb(67, 67, 192) 5px;
  margin: 25px 0;
}

#createDogForm {
  margin-top: 400px;
}

.recordedDogActions {
  border: solid rgb(67, 67, 192) 5px;
  margin: 25px 0;

}

.actionInput {
  justify-content: center;
}

.dogInput {
  justify-content: center;
}

.dogList {
  margin-bottom: 50px;
}

.emoji {
  margin-bottom: 0;
}